{% extends 'base_layout.html' %}




{% block content %}

    <section class="content">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Home Page
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Home Page</a></li>

            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-lg-4 col-xs-4">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ total_athlete }}</h3>

                            <p>Athletes</p>
                        </div>
                        <div class="icon">
                            <i class="fa  fa-flag-checkered"></i>
                        </div>
                        <a href="{% url 'wushu:musabakalar' %}" class="small-box-footer">
                            More <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ total_coachs }}</h3>

                            <p>Coaches</p>
                        </div>
                        <div class="icon">
                            <i class="fa  fa-flag-checkered"></i>
                        </div>
                        <a href="{% url 'wushu:musabakalar' %}" class="small-box-footer">
                            More <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>


                <div class="col-lg-4 col-xs-4">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ application.all.count }}</h3>

                            <p>Active Competitions</p>
                        </div>
                        <div class="icon">
                            <i class="fa  fa-flag-checkered"></i>
                        </div>
                        <a href="{% url 'wushu:musabakalar' %}" class="small-box-footer">
                            More <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>


                <div class="col-lg-4 col-xs-4">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ observers.count }}</h3>

                            <p>Observers</p>
                        </div>
                        <div class="icon">
                            <i class="fa  fa-flag-checkered"></i>
                        </div>
                        <a href="{% url 'wushu:observers' %}" class="small-box-footer">
                            More <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ officers.count }}</h3>

                            <p>Officials</p>
                        </div>
                        <div class="icon">
                            <i class="fa  fa-flag-checkered"></i>
                        </div>
                        <a href="{% url 'wushu:officers' %}" class="small-box-footer">
                            More <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ judges.count }}</h3>

                            <p>Referees</p>
                        </div>
                        <div class="icon">
                            <i class="fa  fa-flag-checkered"></i>
                        </div>
                        <a href="{% url 'wushu:judges' %}" class="small-box-footer">
                            More <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ totalRegistration }}</h3>

                            <p>Total Registration</p>
                        </div>
                        <div class="icon">
                            <i class="fa  fa-flag-checkered"></i>
                        </div>
                        <a href="{% url 'wushu:registration-list' %}" class="small-box-footer">
                            More <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

            </div>
        </section>
        <section class="content">
            <!-- Info boxes -->

            <!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Monthly Report</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-box-tool dropdown-toggle"
                                            data-toggle="dropdown">
                                        <i class="fa fa-wrench"></i></button>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </div>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <p class="text-center">
                                        <strong>Increase in Wushu Athletes</strong>
                                    </p>

                                    <div class="chart">
                                        <!-- Sales Chart Canvas -->
                                        <canvas id="salesChart2" style="height: 180px; width: 816px;" width="1020"
                                                height="225"></canvas>
                                    </div>
                                    <!-- /.chart-responsive -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-4">
                                    <p class="text-center">
                                        <strong>Goals Achieved</strong>
                                    </p>

                                    <div class="progress-group">
                                        <span class="progress-text">Total Athletes</span>
                                        <span class="progress-number"><b>{{ total_athlete }}</b>/{{ total_athlete }}</span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-aqua" style="width: 100%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                    <div class="progress-group">
                                        <span class="progress-text">Total Male Athletes</span>
                                        <span class="progress-number"><b>{{ total_athlete_gender_man }}</b>/{{ total_athlete_gender_man }}</span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-red" style="width: 100%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                    <div class="progress-group">
                                        <span class="progress-text">Total Female Athletes</span>
                                        <span class="progress-number"><b>{{ total_athlete_gender_woman }}</b>/{{ total_athlete_gender_woman }}</span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-green" style="width: 100%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                    <div class="progress-group">
                                        <span class="progress-text">Total Coaches</span>
                                        <span class="progress-number"><b>{{ total_coachs }}</b>/{{ total_coachs }}</span>

                                        <div class="progress sm">
                                            <div class="progress-bar progress-bar-yellow" style="width: 100%"></div>
                                        </div>
                                    </div>
                                    <!-- /.progress-group -->
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>

                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->

            <!-- Main row -->
            <div class="row">
                <!-- Left col -->
                <div class="col-md-8">

                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Athletes by Branches</h3>
                            <div class="box-tools pull-right">

                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i>
                                </button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Branch</th>

                                    <th>Athletes</th>
                                </tr>
                                <tr>
                                    <td>1.</td>
                                    <td>AIKIDO</td>
                                    <td><span class="badge ">{{ total_brans_aikido }}</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>WUSHU</td>
                                    <td><span class="badge ">{{ total_brans_wushu }}</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>WING CHUN</td>
                                    <td><span class="badge ">{{ total_brans_wing_chun }}</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>BUDAKADIO</td>
                                    <td><span class="badge ">{{ total_brans_budakadio }}</span></td>
                                </tr>
                                <tr>
                                    <td>5.</td>
                                    <td>JEET KUNE DO KULELKAVIDO</td>
                                    <td><span class="badge ">{{ total_brans_jeet_kune_do_kulelkavi }}</span></td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right">
                                <li><a href="#">«</a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">»</a></li>
                            </ul>
                        </div>
                    </div>


                    <!-- /.box -->
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <!-- /.col -->

                        <div class="col-md-12">
                            <!-- USERS LIST -->

                            <!--/.box -->
                        </div>
                        <!-- /.col -->
                    </div>

                </div>
                <!-- /.col -->

                <div class="col-md-4">

                    <!-- /.info-box -->

                    <div class="box box-default">
                        <div class="box-header with-border">
                            <h3 class="box-title">Gender Distribution in Athletes</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-minus"></i>
                                </button>
                                <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                        class="fa fa-times"></i></button>
                            </div>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="chart-responsive">
                                        <canvas id="pieChart2" height="202" width="303"
                                                style="width: 243px; height: 162px;"></canvas>
                                    </div>
                                    <!-- ./chart-responsive -->
                                </div>
                                <!-- /.col -->
                                <div class="col-md-4">
                                    <ul class="chart-legend clearfix">

                                        <li><i class="fa fa-circle-o text-green"></i> Male</li>
                                        <li><i class="fa fa-circle-o text-red"></i> Woman</li>

                                    </ul>
                                </div>
                                <!-- /.col -->
                            </div>
                            <!-- /.row -->
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer no-padding">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="#">Woman
                                    <span class="pull-right text-red"><i
                                            class="fa fa-angle-down"></i> {{ total_athlete_gender_woman }}</span></a>
                                </li>
                                <li><a href="#">Male <span class="pull-right text-green"><i
                                        class="fa fa-angle-up"></i> {{ total_athlete_gender_man }}</span></a>
                                </li>

                            </ul>
                        </div>
                        <!-- /.footer -->
                    </div>
                    <!-- /.box -->

                    <!-- PRODUCT LIST -->


                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <div>

                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">Recently Added Athletes</h3>

                        <div class="box-tools pull-right">

                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <ul class="users-list clearfix">
                            {% for athlete in last_athletes %}
                                <li>
                                <img src="{{ MEDIA_URL }}{{ athlete.person.profileImage }}"
                                     style="width: 100px;height: 100px"
                                     alt="User Image">
                                <a href=""
                                   class="users-list-name">{{ athlete.user.first_name }} {{ athlete.user.last_name }}
                                    ({{ athlete.licenses.last.sportsClub }}) </a>
                                <a class="users-list-name">({{ athlete.licenses.last.sportsClub }}) </a>
                                {#                                          <span class="product-description">     #}
                                {#                                              </span>#}


                            {% endfor %}


                            </li>

                        </ul>
                        <!-- /.users-list -->
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer text-center">
                        <a href="" class="uppercase">View All Athletes</a>
                    </div>
                    <!-- /.box-footer -->
                </div>
            </div>

            {% if application.all %}
                {% for competition in application %}
                    <div class="box">
                        <div class="box-header with-border">
                            <div class="row">
                                <section class="col-lg-12 ">

                                    <div class=" dash-center">
                                        <div class="profile-left mb20">
                                            <h4><span class="label pull-left label-danger mr5"
                                                      style="margin: 0px 0px 0px 0px">Current Competition</span></h4>


                                            <div class="profile-left-heading">
                                                <h2 class="profile-name">{{ competition.name }}</h2>
                                                <h4 class="profile-designation">{{ competition.startDate |date:"d " }}
                                                    - {{ competition.finishDate | date }}</h4>
                                                <center>
                                                    <div class="box-header with-border">
                                                        <div class="btn-group">
                                                            {% if competition.status == 'Ön Kayıt Açık' and competition.subBranch == 'SANDA' %}
                                                                <a href=""
                                                                   type="button" class="btn btn-danger"><i
                                                                        class="fa fa-edit"></i>Make an application
                                                                </a>
                                                            {% endif %}

                                                            {% if competition.status == 'Ön Kayıt Açık' and competition.subBranch == 'TAOLU' %}

                                                                <a href=""
                                                                   type="button" class="btn btn-danger"><i
                                                                        class="fa fa-edit"></i>Make an application
                                                                </a>
                                                            {% endif %}

                                                        </div>
                                                    </div>

                                                </center>

                                            </div>
                                            <div class="profile-left-body">


                                                <div class="row">
                                                    <div class="col-xs-5 col-sm-4">
                                                        <div class="pull-left">
                                                            <h4 class="panel-title">LOCATION OF THE COMPETITION</h4>
                                                            <p>
                                                                <i class="glyphicon glyphicon-map-marker mr5"></i>{{ competition.location }}
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-5 col-sm-4">
                                                        <div class="pull-left">
                                                            <h4 class="panel-title">DATE OF THE COMPETITION</h4>
                                                            <p>
                                                                <i class="fa fa-calendar mr5"></i> {{ competition.startDate |date:"d " }}
                                                                - {{ competition.finishDate | date }}</p>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-5 col-sm-4">
                                                        <div class="pull-left">
                                                            <h4 class="panel-title">DATE OF ONLINE APPLICATION</h4>
                                                            <p>
                                                                <i class="fa fa-calendar mr5"></i>{{ competition.registerStartDate |date:"d " }}
                                                                - {{ competition.registerFinishDate | date }}</p>
                                                        </div>
                                                    </div>

                                                </div><!-- row -->


                                            </div>
                                        </div><!-- profile-left -->
                                        <br>
                                    </div>
                                </section>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}


            <div>

                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">City Evaluation</h3>
                        <div id="sehir"></div>


                        <div class="box-tools pull-right">

                            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                    class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                    class="fa fa-times"></i>
                            </button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                </div>


        </section>
    </section>



    <script>
        {#var myLineChart = new Chart(ctxL, {#}
        {#    type: 'line',#}
        {#    data: {#}
        {#        labels: ["January", "February", "March", "April", "May", "June", "July"],#}
        {#        datasets: [#}
        {#            {#}
        {#                label: "My First dataset",#}
        {#                data: [0, 65, 45, 65, 35, 65, 0],#}
        {#                backgroundColor: '#AD35BA',#}
        {#                borderColor: [#}
        {#                    '#AD35BA',#}
        {#                ],#}
        {#                borderWidth: 2,#}
        {#                pointBorderColor: "#fff",#}
        {#                pointBackgroundColor: "rgba(173, 53, 186, 0.1)",#}
        {#            }#}
        {#        ]#}
        {#    },#}
        {#    options: {#}
        {#        responsive: true#}
        {#    }#}
        {# }) #}
        {#;#}
        {#        #}
    </script>


    <script>
        $(function () {

            var salesChartCanvas = $('#salesChart2').get(0).getContext('2d');
            // This will get the first returned node in the jQuery collection.
            var salesChart = new Chart(salesChartCanvas);

            let time = new Date().getMonth();
            weekday = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
            months = new Array('Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Agustos', 'Eylül ', 'Ekim', 'Kasım', 'Aralık');
            if (time != 1) {
                geri = months[time - 1]
            } else {
                geri = months[11]
            }
            var salesChartData = {
                labels: ['   ', geri, months[time]],

                datasets: [
                    {#{#}
                    {#  label               : 'Electronics',#}
                    {#  fillColor           : 'rgb(210, 214, 222)',#}
                    {#  strokeColor         : 'rgb(210, 214, 222)',#}
                    {#  pointColor          : 'rgb(210, 214, 222)',#}
                    {#  pointStrokeColor    : '#c1c7d1',#}
                    {#  pointHighlightFill  : '#fff',#}
                    {#  pointHighlightStroke: 'rgb(220,220,220)',#}
                    {#  data                : [500, 600,{{ total_athlete }}]#}
                    {# }, #}
                    {
                        label: 'Digital Goods',
                        fillColor: 'rgba(60,141,188,0.9)',
                        strokeColor: 'rgba(60,141,188,0.8)',
                        pointColor: '#3b8bba',
                        pointStrokeColor: 'rgba(60,141,188,1)',
                        pointHighlightFill: '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data: [200, 500, {{ total_athlete }}],
                    }

                ]
            };

            var salesChartOptions = {
                // Boolean - If we should show the scale at all
                showScale: true,
                // Boolean - Whether grid lines are shown across the chart
                scaleShowGridLines: false,
                // String - Colour of the grid lines
                scaleGridLineColor: 'rgba(0,0,0,.05)',
                // Number - Width of the grid lines
                scaleGridLineWidth: 1,
                // Boolean - Whether to show horizontal lines (except X axis)
                scaleShowHorizontalLines: true,
                // Boolean - Whether to show vertical lines (except Y axis)
                scaleShowVerticalLines: true,
                // Boolean - Whether the line is curved between points
                bezierCurve: true,
                // Number - Tension of the bezier curve between points
                bezierCurveTension: 0.3,
                // Boolean - Whether to show a dot for each point
                pointDot: false,
                // Number - Radius of each point dot in pixels
                pointDotRadius: 4,
                // Number - Pixel width of point dot stroke
                pointDotStrokeWidth: 1,
                // Number - amount extra to add to the radius to cater for hit detection outside the drawn point
                pointHitDetectionRadius: 20,
                // Boolean - Whether to show a stroke for datasets
                datasetStroke: true,
                // Number - Pixel width of dataset stroke
                datasetStrokeWidth: 2,
                // Boolean - Whether to fill the dataset with a color
                datasetFill: true,
                // String - A legend template
                legendTemplate: ' ',
                // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: true,
                // Boolean - whether to make the chart responsive to window resizing
                responsive: true
            };

            // Create the line chart
            salesChart.Line(salesChartData, salesChartOptions);


            {#pie log#}
            var pieChartCanvas = $('#pieChart2').get(0).getContext('2d');
            var pieChart = new Chart(pieChartCanvas);
            var PieData = [
                {
                    value: {{total_athlete_gender_woman}},
                    color: '#f56954',
                    highlight: '#f56954',
                    label: 'Woman'
                },
                {
                    value: {{total_athlete_gender_man}},
                    color: '#00a65a',
                    highlight: '#00a65a',
                    label: 'Male'
                },

            ];
            var pieOptions = {
                // Boolean - Whether we should show a stroke on each segment
                segmentShowStroke: true,
                // String - The colour of each segment stroke
                segmentStrokeColor: '#fff',
                // Number - The width of each segment stroke
                segmentStrokeWidth: 1,
                // Number - The percentage of the chart that we cut out of the middle
                percentageInnerCutout: 50, // This is 0 for Pie charts
                // Number - Amount of animation steps
                animationSteps: 100,
                // String - Animation easing effect
                animationEasing: 'easeOutBounce',
                // Boolean - Whether we animate the rotation of the Doughnut
                animateRotate: true,
                // Boolean - Whether we animate scaling the Doughnut from the centre
                animateScale: false,
                // Boolean - whether to make the chart responsive to window resizing
                responsive: true,
                // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
                maintainAspectRatio: false,
                // String - A legend template
                legendTemplate: '',
                // String - A tooltip template
                tooltipTemplate: ''
            };
            // Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            pieChart.Doughnut(PieData, pieOptions);
            // -----------------
            // - END PIE CHART -


        });


    </script>




{% endblock %}