{% extends 'base_layout.html' %}
{% block content %}

    <style>


        /***** PROFILE USER *****/
        .profile-left-heading {
            padding: 20px;
            background-color: #3b4354;
            border-top-right-radius: 3px;
            border-top-left-radius: 3px;
        }

        .profile-left-heading .panel-options > li > a {
            font-size: 14px;
        }

        .profile-left-heading .profile-photo {
            width: 128px;
            display: block;
            margin: auto;
        }

        .profile-left-heading .profile-photo img {
            padding: 5px;
            background-color: #262b36;
            border: 2px solid #505b72;
        }

        .profile-left-heading .profile-name {
            color: #fff;
            font-weight: 300;
            font-size: 20px;
            letter-spacing: 1px;
            text-align: center;
        }

        .profile-left-heading .profile-designation {
            color: #9fa8bc;
            font-weight: 300;
            font-size: 14px;
            letter-spacing: 1px;
            margin-bottom: 0;
            text-align: center;
        }

        .profile-left-heading .list-group {
            margin: 20px 0;
        }

        .profile-left-heading .list-group .list-group-item {
            background-color: transparent;
            border-width: 0 0 1px;
            border-color: #464f63;
            padding-left: 0;
            padding-right: 0;
            color: rgba(255, 255, 255, 0.7);
            text-transform: none;
            font-family: 'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
            font-weight: 600;
            letter-spacing: .5px;
        }

        .profile-left-heading .list-group .list-group-item a {
            float: right;
            color: #fff;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 500;
            letter-spacing: 1.5px;
        }

        .profile-left-heading .list-group .list-group-item a:hover,
        .profile-left-heading .list-group .list-group-item a:focus {
            color: #46b8da;
        }

        .profile-left-heading .list-group .list-group-item:first-child {
            border-top-right-radius: 0;
            border-top-left-radius: 0;
            border-top-width: 1px;
        }

        .profile-left-heading .list-group .list-group-item:last-child {
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .profile-left-body {
            padding: 20px;
            background-color: #464f63;
            color: #9fa8bc;
            border-bottom-right-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        .profile-left-body .panel-title {
            color: #fff;
            margin-bottom: 10px;
            font-weight: 600;
        }

        .profile-left-body .profile-social > li a {
            color: rgba(255, 255, 255, 0.7);
            font-size: 28px;
            -webkit-transition: all 0.2s ease-out 0s;
            -o-transition: all 0.2s ease-out 0s;
            transition: all 0.2s ease-out 0s;
        }

        .profile-left-body .profile-social > li a:hover,
        .profile-left-body .profile-social > li a:focus {
            color: #fff;
        }

        .profile-btn-follow {
            margin-top: 20px;
        }


    </style>


    <section class="content">

        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Home Page

            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>Home Page</a></li>

            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-lg-4 col-xs-6">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ application.all.count }}</h3>

                            <p>Number of Active Competitions</p>
                        </div>
                        <div class="icon">
                            <i class="fa  fa-flag-checkered"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-xs-4">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ athletes.count }}</h3>

                            <p>Number of Athletes</p>
                        </div>
                        <div class="icon">
                            <i class="fa  fa-flag-checkered"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-xs-4">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ coaches.count }}</h3>

                            <p>Number of Coaches</p>
                        </div>
                        <div class="icon">
                            <i class="fa  fa-flag-checkered"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-xs-4">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ observers.count }}</h3>

                            <p>Number of Observer</p>
                        </div>
                        <div class="icon">
                            <i class="fa  fa-flag-checkered"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-xs-4">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ officers.count }}</h3>

                            <p>Number of Officers</p>
                        </div>
                        <div class="icon">
                            <i class="fa  fa-flag-checkered"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-xs-4">
                    <!-- small box -->
                    <div class="small-box bg-aqua">
                        <div class="inner">
                            <h3>{{ judges.count }}</h3>

                            <p>Number of Referees</p>
                        </div>
                        <div class="icon">
                            <i class="fa  fa-flag-checkered"></i>
                        </div>
                        <a href="#" class="small-box-footer">
                            More <i class="fa fa-arrow-circle-right"></i>
                        </a>
                    </div>
                </div>

            </div>
        </section>
        <section class="content">

        {% if application.all %}
            {% for competition in application %}

                <div class="row">
                    <section class="col-lg-12 ">

                        <div class=" dash-center">
                            <div class="profile-left mb20">
                                <h4><span class="label pull-left label-danger mr5"
                                          style="margin: 0px 0px 0px 0px">Current Competition</span></h4>


                                <div class="profile-left-heading">
                                    <h2 class="profile-name">{{ competition.name }}</h2>
                                    <h4 class="profile-designation">{{ competition.startDate |date:"d " }}
                                        - {{ competition.finishDate | date }}</h4>
                                    <center>
                                        <div class="box-header with-border">
                                                        {% if athletes %}
                                                            <div class="btn-group">
                                                                {% if competition.status == 'Ön Kayıt Açık' and competition.subBranch == 'SANDA' %}
                                                                    <a href="{% url "wushu:musabaka-sanda-ekle" competition.pk %}"
                                                                       type="button" class="btn btn-danger"><i
                                                                            class="fa fa-edit"></i>Make an application
                                                                    </a>
                                                                {% endif %}

                                                                {% if competition.status == 'Ön Kayıt Açık' and competition.subBranch == 'TAOLU' %}

                                                                    <a href="{% url "wushu:musabaka-taolu-ekle" competition.pk %}"
                                                                       type="button" class="btn btn-danger"><i
                                                                            class="fa fa-edit"></i>Make an application
                                                                    </a>
                                                                {% endif %}

                                                            </div>
                                                        {% else %}
                                                            <div class="btn-group">
                                                                <a href="{% url "wushu:sporcu-ekle" %}"
                                                                   type="button" class="btn btn-success"><i
                                                                        class="fa fa-edit"></i> Add Athletes
                                                                </a>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                    </center>

                                </div>
                                <div class="profile-left-body">


                                    <div class="row">
                                        <div class="col-xs-5 col-sm-4">
                                            <div class="pull-left">
                                                <h4 class="panel-title">LOCATION OF THE COMPETITION</h4>
                                                <p>
                                                    <i class="glyphicon glyphicon-map-marker mr5"></i>{{ competition.location }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-xs-5 col-sm-4">
                                            <div class="pull-left">
                                                <h4 class="panel-title">DATE OF THE COMPETITION</h4>
                                                <p>
                                                    <i class="fa fa-calendar mr5"></i> {{ competition.startDate |date:"d " }}
                                                    - {{ competition.finishDate | date }}</p>
                                            </div>
                                        </div>
                                        <div class="col-xs-5 col-sm-4">
                                            <div class="pull-left">
                                                <h4 class="panel-title">DATE OF ONLINE APPLICATION</h4>
                                                <p>
                                                    <i class="fa fa-calendar mr5"></i>{{ competition.registerStartDate |date:"d " }}
                                                    - {{ competition.registerFinishDate | date }}</p>
                                            </div>
                                        </div>

                                    </div><!-- row -->


                                </div>
                            </div><!-- profile-left -->
                            <br>
                        </div>
                    </section>

                </div>
            {% endfor %}
        {% endif %}

    </section>
    </section>

{% endblock %}
