{% extends 'base_layout.html' %}
{% load static %}
{% block content %}




    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Transaction Successful</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">OK</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Warning</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Yes
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Error!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Successful!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}






    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>





    <section class="content">

        <div class="row">
            <div class="col-lg-12 ">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Registration List</h3>
                    </div>

                    <div class="box-body">
                        <table id="registrationList" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Date of Birth</th>
                                <th>Nationality</th>
                                <th>Role</th>
                                <th>Category</th>
                                <th>Age Group</th>
                                <th>Passport No</th>
                                <th>Room-Price</th>
                                <th>Hotel Entry Date</th>
                                <th>Hotel Release Date</th>
                                <th>Total Day</th>
                                <th>Total Price</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if athletes.all %}
                                {% for athlete in athletes.all %}
                                    <tr>
                                        <td>{{ athlete.person.name }} {{ athlete.person.surName }} </td>
                                        <td> {{ athlete.person.birthDate }}</td>
                                        <td> {{ athlete.federation.person.country }}</td>
                                        <td> Athlete</td>
                                        <td>
                                            {% for category in sandaAthlete %}
                                                {% if category.athlete == athlete %}
                                                    {{ category.competitiontype }},
                                                {% endif %}
                                            {% endfor %}
                                            {% for category in taoluAthlete %}
                                                {% if category.athlete == athlete %}
                                                    {{ category.competitiontype }},
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td>
                                            {% if athlete.person.birthDate.year == 2015 or athlete.person.birthDate.year == 2016 %}
                                                6-7
                                            {% elif athlete.person.birthDate.year == 2013 or athlete.person.birthDate.year == 2014 %}
                                                8-9
                                            {% elif athlete.person.birthDate.year == 2011 or athlete.person.birthDate.year == 2012 %}
                                                10-11
                                            {% elif athlete.person.birthDate.year == 2009 or athlete.person.birthDate.year == 2010 %}
                                                12-13
                                            {% elif athlete.person.birthDate.year == 2008 %}
                                                14
                                            {% elif athlete.person.birthDate.year == 2006 or athlete.person.birthDate.year == 2007 %}
                                                15-16
                                            {% elif athlete.person.birthDate.year == 2004 or athlete.person.birthDate.year == 2005 %}
                                                17-18
                                            {% elif athlete.person.birthDate.year == 2001 or athlete.person.birthDate.year == 2004 %}
                                                18-21
                                            {% endif %}
                                        </td>
                                        <td>{{ athlete.person.pasaport }}</td>
                                    <td> {{ athlete.person.hotel.name }}</td>
                                    <td> {{ athlete.person.hotel.registerStartDate }}</td>
                                    <td> {{ athlete.person.hotel.registerFinishDate }}</td>
                                    <td> {{ athlete.person.hotel.totalDay }}</td>
                                    <td> {{ athlete.person.hotel.price }} €</td>

                                    </tr>

                                {% endfor %}
                            {% endif %}

                            {% if coaches.all %}
                                {% for coach in coaches.all %}
                                    <tr>
                                        <td>{{ coach.person.name }} {{ coach.person.surName }} </td>
                                        <td> {{ coach.person.birthDate }}</td>
                                        <td> {{ coach.federation.person.country }}</td>
                                        <td> Coach</td>
                                        <td>
                                            {% for category in sandaCoach %}
                                                {% if category.coach == coach %}
                                                    Sanda,
                                                {% endif %}
                                            {% endfor %}
                                            {% for category in taoluCoach %}
                                                {% if category.coach == coach %}
                                                    Taolu,
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td></td>
                                        <td>{{ coach.person.pasaport }}</td>
                                    <td> {{ coach.person.hotel.name }}</td>
                                    <td> {{ coach.person.hotel.registerStartDate }}</td>
                                    <td> {{ coach.person.hotel.registerFinishDate }}</td>
                                    <td> {{ coach.person.hotel.totalDay }}</td>
                                    <td> {{ coach.person.hotel.price }} €</td>

                                    </tr>

                                {% endfor %}
                            {% endif %}

                            {% if observers.all %}
                                {% for observer in observers.all %}
                                    <tr>
                                        <td>{{ observer.person.name }} {{ observer.person.surName }} </td>
                                        <td> {{ observer.person.birthDate }}</td>
                                        <td> {{ observer.federation.person.country }}</td>
                                        <td> Observer</td>
                                        <td>
                                            {% for category in sandaObserver %}
                                                {% if category.observer == observer %}
                                                    Sanda,
                                                {% endif %}
                                            {% endfor %}
                                            {% for category in taoluObserver %}
                                                {% if category.observer == observer %}
                                                    Taolu,
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td></td>
                                        <td>{{ observer.person.pasaport }}</td>
                                    <td> {{ observer.person.hotel.name }}</td>
                                    <td> {{ observer.person.hotel.registerStartDate }}</td>
                                    <td> {{ observer.person.hotel.registerFinishDate }}</td>
                                    <td> {{ observer.person.hotel.totalDay }}</td>
                                    <td> {{ observer.person.hotel.price }} €</td>

                                    </tr>

                                {% endfor %}
                            {% endif %}

                            {% if officers.all %}
                                {% for officer in officers.all %}
                                    <tr>
                                        <td>{{ officer.person.name }} {{ officer.person.surName }} </td>
                                        <td> {{ officer.person.birthDate }}</td>
                                        <td> {{ officer.federation.person.country }}</td>
                                        <td> Officer</td>
                                        <td>
                                            {% for category in sandaOfficer %}
                                                {% if category.officer == officer %}
                                                    Sanda,
                                                {% endif %}
                                            {% endfor %}
                                            {% for category in taoluOfficer %}
                                                {% if category.officer == officer %}
                                                    Taolu,
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td></td>
                                        <td>{{ officer.person.pasaport }}</td>
                                    <td> {{ officer.person.hotel.name }}</td>
                                    <td> {{ officer.person.hotel.registerStartDate }}</td>
                                    <td> {{ officer.person.hotel.registerFinishDate }}</td>
                                    <td> {{ officer.person.hotel.totalDay }}</td>
                                    <td> {{ officer.person.hotel.price }} €</td>

                                    </tr>

                                {% endfor %}
                            {% endif %}

                            {% if judges.all %}
                                {% for judge in judges.all %}
                                    <tr>
                                        <td>{{ judge.person.name }} {{ judge.person.surName }} </td>
                                        <td> {{ judge.person.birthDate }}</td>
                                        <td> {{ judge.federation.person.country }}</td>
                                        <td> Referee</td>
                                        <td>
                                            {% for category in sandaJudge %}
                                                {% if category.judge == judge %}
                                                    Sanda,
                                                {% endif %}
                                            {% endfor %}
                                            {% for category in taoluJudge %}
                                                {% if category.judge == judge %}
                                                    Taolu,
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        <td></td>
                                        <td>{{ judge.person.pasaport }}</td>
                                        <td> {{ judge.person.hotel.name }}</td>
                                        <td> {{ judge.person.hotel.registerStartDate }}</td>
                                        <td> {{ judge.person.hotel.registerFinishDate }}</td>
                                        <td> {{ judge.person.hotel.totalDay }}</td>
                                        <td> {{ judge.person.hotel.price }} €</td>

                                    </tr>

                                {% endfor %}
                            {% endif %}


                            </tbody>
                        </table>

                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row (main row) -->

    </section>

    <script>
        $(function () {
            $('#registrationList').DataTable({


                dom: 'Bfrtip',

                language: {

                    url: "//cdn.datatables.net/plug-ins/1.11.5/i18n/en-GB.json"

                },


                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 row', '25 row ', '50 row ', '100 row', 'Show All']
                ],

                'buttons': [
                    {##}
                    {##}
                    {#'copy',#}
                    {#'csv',#}

                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        text: '<i class=" fa  fa-th-list"></i>',
                        titleAttr: 'Add Subtract'


                    },
                    {
                        extend: 'print',
                        title: 'Sporcular',
                        text: '<i class="fa  fa-print"></i>',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                        titleAttr: 'Print'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                        titleAttr: 'Save Pdf',
                    },

                    {
                        extend: 'excelHtml5',
                        title: 'Sporcular',
                        text: '<i class="fa fa-file-excel-o"></i>',
                        {#footer: true,#}
                        exportOptions: {
                            {#     yer degisimi de yapilabilir.#}
                            columns: [0, 2, 1, 3, 4, 5]

                        },
                        titleAttr: 'Excel Save'
                    },
                    {
                        text: '<i class="fa fa-file-text-o"></i>',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'Sporcular.json'
                            );
                        }
                    }


                ],

                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,


            });

        });


    </script>

    <script>
        function deleteAthlete(id) {

            console.log(id);
            var html = ''
            $("#modal-danger").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {
                    $.ajax({
                        url: "{% url "wushu:delete-athlete" pk=212121223232323232 %}".replace(/212121223232323232/, id.toString()),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Athlete Successfully Deleted';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "wushu:sporcular" %}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });

        }
    </script>

{% endblock %}

