{% extends 'base_layout.html' %}

{% block content %}




    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Silmek istediginizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}






    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>




    <section class="content">

        <!-- /.row -->
        <!-- Main row -->
        <div class="row">


            <section class="col-lg-12 ">


                <div class="box-body">


                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Sanda Weight Categories</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form method="post" role="form">
                            <div class="box-body">
                                {% csrf_token %}


                                <div class="form-group">
                                    <label> {{ sandaWeightCategoryForm.categoryName.label }}</label>
                                    {{ sandaWeightCategoryForm.categoryName }}
                                </div>
                                <div class="form-group">
                                    <label> {{ sandaWeightCategoryForm.explanation.label }}</label>
                                    {{ sandaWeightCategoryForm.explanation }}
                                </div>
                                <div class="form-group">
                                    <label> {{ sandaWeightCategoryForm.isDuilian.label }}</label>
                                    {{ sandaWeightCategoryForm.isDuilian }}
                                </div>

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                </div>

                            </div>
                            <!-- /.box-body -->
                        </form>


                        <table id="kategori" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>No</th>
                                <th>kategori Adı</th>
                                <th>Duilian mı?</th>
                                <th>Güncelleme/Silme</th>
                            </tr>
                            </thead>

                            <tbody>


                            {% if sandaWeightCategories.all %}
                                {% for sandaWeightCategory in sandaWeightCategories %}
                                    <tr>
                                        <td>{{ forloop.counter }} </td>
                                        <td>{{ sandaWeightCategory.categoryName }}</td>

                                        <td>
                                            {% if sandaWeightCategory.isDuilian %}Evet {% else %} Hayır {% endif %}</td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{% url "wushu:sanda-weight-category-update" sandaWeightCategory.pk %}"
                                                   type="button" class="btn btn-warning"><i
                                                        class="fa fa-edit"></i>İncele
                                                </a>

                                                <a class="btn btn-danger"
                                                   data-toggle="modal"
                                                   onclick=deleteWeightCategory({{ sandaWeightCategory.pk }})><i
                                                        class="fa fa-trash"></i>Sil</a>
                                            </div>
                                        </td>

                                    </tr>

                                {% endfor %}
                            {% endif %}


                            </tbody>
                        </table>


                    </div>
                    <!-- /.box -->


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>


    <script>
        $(function () {
            $('#kategori').DataTable({
                'paging': false,
                'lengthChange': false,
                'searching': false,
                'ordering': false,
                'info': false,
                'autoWidth': true
            })

        })
    </script>


    <script>
        function deleteWeightCategory(id) {

            console.log(id);
            var html = ''
            $("#modal-danger").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {
                    $.ajax({

                        url: "{% url "wushu:sanda-weight-category-delete" pk=212121223232323232 %}".replace(/212121223232323232/, id.toString()),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Successfully Deleted';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "wushu:sanda-weight-category" %}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });

        }
    </script>


{% endblock %}