{% extends 'base_layout.html' %}

{% block content %}


    <div class="modal modal-danger " tabindex="-1" role="dialog" id="modal-warning"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Sporcu kaydedilmedi</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn  btn-outline btn-ok" id="btn-kural ">Kapat</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal modal-dialog " tabindex="-1" role="dialog" id="modalsporcu"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Ek Bilgileri Seçiniz</h4>
                </div>
                <div class="modal-body">
                    <label for="inputState">Müsabaka Türü</label>
                    <select id="sanda" class="form-control" style="width: 100%;">
                        <option value="0" selected>Sanda</option>
                        <option value="1">Light Sanda</option>
                        <option value="2">Tuishou</option>

                    </select>
                    <label for="inputState">Yaş Kategorisi</label>
                    <select id="sanda-yas" style="width: 100%;" class=" form-control">
                        {% for item in categoryitemm %}
                            <option value="{{ item.pk }}">{{ item.categoryYear }}</option>
                        {% endfor %}
                    </select>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn  btn-default pull-left btn-ok" id="btn-gonder"
                            data-dismiss="modal">Kaydet
                    </button>
                    <button type="button" class="btn  btn-default" id="btn-closereddet">Geri Dön</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>




    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">İşlem Başarılı</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Tamam</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Uyarı</h4>
                </div>
                <div class="modal-body">
                    <p>Silmek istediğinizden emin misiniz?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Evet
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">Hayır</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Hata!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Başarılı!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}






    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>





    <section class="content">


        <div class="row">

            <section class="col-lg-12 ">


                <div class="box-body">


                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Sporcu Seç </h3>
                        </div>

                        <div class="btn-group">
                            <a href="{% url "wushu:musabaka-duzenle" competition.pk %}"
                               type="button" class="btn btn-success"><i
                                    class="fa fa-edit"></i>Eklenen Sporcular
                            </a>
                        </div>
                        <div class="btn-group">
                            <a href="{% url "wushu:sporcu-ekle" %}"
                               type="button" class="btn btn-success"><i
                                    class="fa fa-edit"></i>Sporcu Ekle
                            </a>
                        </div>
                        <div class="box-body berktug">
                            <form method="post" enctype="multipart/form-data" role="form">
                                {% csrf_token %}
                                <table id="sporcular" class="table table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Ad Soyad</th>
                                        <th>Seç</th>


                                    </tr>
                                    </thead>
                                    <tbody>


                                    </tbody>
                                </table>


                            </form>
                        </div>
                    </div>
                    <!-- /.box -->


                </div>
            </section>


        </div>
        <!-- /.row (main row) -->

    </section>





    <script>
        $(function () {

            $('#sporcular').DataTable({

                language: {

                    url: "//cdn.datatables.net/plug-ins/1.10.20/i18n/Turkish.json"

                },
                'paging': true,
                'searching': true,
                'ordering': true,
                'autoWidth': true,
                "serverSide": true,
                "processing": true,
                'responsive': true,
                'ajax': {

                    "url": '{% url "wushu:sanda-sporcu-sec-ajax"%}',
                    "methot": 'POST',
                    "data": {

                        "competition":{{ competition.pk }},

                    },


                },


                'columns':
                    [
                        {'data': 'say'},
                        {'data': 'name'},


                        {
                            "data": null,
                            "bSortable": false,
                            "mRender": function (data) {
                                {#console.log(data);#}


                                return '<div class="btn-group"><a type="button" class="btn btn-warning" onclick="sporcusec(' + data.pk + ')"><i class="fa fa-edit"></i>' + 'Seç' + '</a></div>';
                            }
                        },


                    ],
                dom: 'Bfrtip',


                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 tane', '25 tane ', '50 tane ', '100 Tane', 'Hepsini Getir']
                ],

                'buttons': [


                    {#'copy',#}
                    {#'csv',#}

                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        text: '<i class=" fa  fa-th-list"></i>',
                        titleAttr: 'Ekle Çıkar'


                    },
                    {
                        extend: 'print',
                        title: 'Sporcular',
                        text: '<i class="fa  fa-print"></i>',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                        titleAttr: 'Yazdır'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                        titleAttr: 'Pdf Kaydet'
                    },

                    {
                        extend: 'excelHtml5',
                        title: 'Sporcular',
                        text: '<i class="fa fa-file-excel-o"></i>',
                        messageTop: 'Twf Bilgi Sistemi ',
                        footer: true,
                        exportOptions: {
                            {#yer degisimi de yapilabilir.#}
                            columns: [0, 2, 1, 3, 4, 5]

                        },
                        titleAttr: 'Excel Kaydet'
                    },
                    {
                        text: '<i class="fa fa-file-text-o"></i>',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'Sporcular.json'
                            );
                        }
                    }
                ],


            });


        });

        function sporcusec(id) {
            $("#modalsporcu").on("shown.bs.modal", function (e) {

                $("#btn-gonder").click(function () {

                    if (e.handled !== true) {
                        e.handled = true;


                        if ($('#sanda').val() != 'Seçiniz...' && id != null) {
                            console.log($('#sanda').text())

                            sanda = document.getElementById('sanda').value;
                            debugger;
                            let sanda_yas = document.getElementById('sanda-yas').value


                            $.ajax({
                                url: "{% url "wushu:sanda-sporcu-kaydet" %}",
                                type: "POST",
                                data: {
                                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                    sanda: sanda,
                                    competition: {{ competition.pk }},
                                    athlete: id,
                                    yas: sanda_yas

                                },

                                success: function (result) {

                                    if (result.status == "Success") {

                                        html = 'Sporcu Başarıyla Eklendi .';
                                        debugger;
                                        $(".successModal").html(html);
                                        alert('Başarılı bir şekilde eklendi')
                                        window.location.replace("{% url "wushu:musabaka-sanda-ekle" competition.pk %}");

                                    } else {

                                        $('#modal-warning').on("shown.bs.modal", function (e) {
                                            $(".btn-ok").click(function () {

                                                $('#modal-warning').modal('hide');
                                                $('.modal').modal('hide');
                                            });

                                        }).modal('show');


                                    }


                                }
                            });
                        } else {

                            alert("Lütfen eksik alanlari giriniz");

                        }

                    }
                });


            }).modal('show');
            $('#btn-closereddet').click(function () {


                $('#modalsporcu').modal('hide');
                $('.modal').modal('hide');

            });

        }
    </script>

{% endblock %}

