{% extends 'base_layout.html' %}

{% block content %}


    <div class="modal modal-danger " tabindex="-1" role="dialog" id="modal-warning"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Warning</h4>
                </div>
                <div class="modal-body">
                    <p>Athlete not registered</p>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn  btn-outline btn-ok" id="btn-kural ">Close</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-dialog " role="dialog" id="modalsporcu"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Enter Additional Information</h4>
                </div>
                <div class="modal-body">


                    <label for="inputState"> Taolu Category</label>
                    <select style="width: 100%" id="taolucategory"
                            class="form-control select2 select2-hidden-accessible"
                            tabindex="-1" aria-hidden="true">
                        <option selected>Seçiniz...</option>
                        {% for item in category %}
                            <option value="{{ item.pk }}">{{ item }}</option>
                        {% endfor %}
                    </select>
                    <label for="inputState"> Age Category</label>
                    <select id="taolucategoryyears" class="form-control">
                        <option selected>Seçiniz...</option>
                        {% for item in yearscategory %}
                            <option value="{{ item.pk }}">{{ item }}</option>
                        {% endfor %}
                    </select>


                </div>


                <div class="modal-footer">
                    <button type="button" class="btn  btn-default pull-left btn-ok" id="btn-gonder"
                            data-dismiss="modal">Save
                    </button>
                    <button type="button" class="btn  btn-default" id="btn-closereddet">Turn back</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Transaction Successful</h4>
                </div>
                <div class="modal-body successModal">
                    Successfully added
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Ok</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Warning</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Yes
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Error!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Successful!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>





 <section class="content">

        <div class="row">

            <div class="col-lg-5">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Athlete Information</h3>
                    </div>
                    <div class="btn-group" style="margin: 10px">
                                <a href="{% url "wushu:musabaka-duzenle" competition.pk %}"
                                   type="button" class="btn btn-success"><i
                                        class="fa fa-list"></i>Athletes Added to the Competition
                                </a>
                            </div>
                            <div class="btn-group">
                                <a href="{% url "wushu:sporcu-ekle" %}"
                                   type="button" class="btn btn-success"><i
                                        class="fa fa-plus"></i>Add Athletes
                                </a>
                            </div>
                    <div class="box-body">


                         <form method="post" enctype="multipart/form-data" role="form">
                                    {% csrf_token %}
                                    <table id="sporcular" class="table table-bordered table-hover">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name Surname</th>

                                            <th>Select</th>


                                        </tr>
                                        </thead>
                                        <tbody>


                                        </tbody>
                                    </table>


                                </form>


                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit">Save</button>
                    </div>


                </div>

            </div>


            <div class="col-lg-7">


                <div class="col-lg-12">

                    <div class="box box-info collapsed-box">


                        <div class="box-header with-border">
                            <h3 class="box-title">Coach Information</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-plus"></i>
                                </button>

                            </div>


                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="display: none;">


                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label> Mobile Phone</label>
                                        <input type="text" name="phoneNumber" value="5418619461" class="form-control "
                                               onkeypress="validate(event)" maxlength="120" id="id_phoneNumber">
                                    </div>
                                    <div class="form-group">
                                        <label> Land Phone</label>
                                        <input type="text" name="phoneNumber2" class="form-control "
                                               onkeypress="validate(event)" maxlength="120" id="id_phoneNumber2">
                                    </div>

                                    <div class="form-group">
                                        <label> Home Phone</label>
                                        <input type="text" name="phoneHome" class="form-control "
                                               onkeypress="validate(event)" maxlength="120" id="id_phoneHome">
                                    </div>
                                    <div class="form-group">
                                        <label> Business Phone</label>
                                        <input type="text" name="phoneJop" class="form-control "
                                               onkeypress="validate(event)" maxlength="120" id="id_phoneJop">
                                    </div>

                                </div>


                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label> Address</label>
                                        <textarea name="address" cols="40" rows="2" class="form-control "
                                                  style="text-transform:uppercase" id="id_address"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label> Home Address</label>
                                        <textarea name="addressHome" cols="40" rows="2" class="form-control "
                                                  style="text-transform:uppercase" id="id_addressHome"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label> Business Address</label>
                                        <textarea name="addressJop" cols="40" rows="2" class="form-control "
                                                  style="text-transform:uppercase" id="id_addressJop"></textarea>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- /.box-body -->
                    </div>


                </div>

                <div class="col-lg-12">

                    <div class="box box-info collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Referee Information</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="form-group">
                                        <label> Nationality</label>
                                        <select name="uyrukid" class="form-control select2 select2-hidden-accessible"
                                                style="width: 100%;" id="id_uyrukid" tabindex="-1" aria-hidden="true">
                                            <option value="" selected="">---------</option>

                                            <option value="2">T.C.</option>

                                        </select><span class="select2 select2-container select2-container--default"
                                                       dir="ltr" style="width: 100%;"><span class="selection"><span
                                            class="select2-selection select2-selection--single" role="combobox"
                                            aria-haspopup="true" aria-expanded="false" tabindex="0"
                                            aria-labelledby="select2-id_uyrukid-container"><span
                                            class="select2-selection__rendered" id="select2-id_uyrukid-container"
                                            title="---------">---------</span><span class="select2-selection__arrow"
                                                                                    role="presentation"><b
                                            role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                                                                                               aria-hidden="true"></span></span>
                                    </div>

                                    <div class="form-group">
                                        <label> Population Family Serial Number</label>
                                        <input type="text" name="nufus_ailesirano" class="form-control"
                                               onkeypress="validate(event)" maxlength="20" id="id_nufus_ailesirano">
                                    </div>
                                    <div class="form-group">
                                        <label> Population Volume Number</label>
                                        <input type="text" name="nufus_ciltno" class="form-control "
                                               onkeypress="validate(event)" maxlength="20" id="id_nufus_ciltno">
                                    </div>

                                    <div class="form-group">
                                        <label> Population Sequence No</label>
                                        <input type="text" name="nufus_sirano" class="form-control"
                                               onkeypress="validate(event)" maxlength="20" id="id_nufus_sirano">
                                    </div>


                                    <div class="box-footer">
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                    </div>


                </div>
                <div class="col-lg-12">

                    <div class="box box-info collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Observer Information</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.box-tools -->
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="form-group">
                                        <label> Nationality</label>
                                        <select name="uyrukid" class="form-control select2 select2-hidden-accessible"
                                                style="width: 100%;" id="id_uyrukid" tabindex="-1" aria-hidden="true">
                                            <option value="" selected="">---------</option>

                                            <option value="2">T.C.</option>

                                        </select><span class="select2 select2-container select2-container--default"
                                                       dir="ltr" style="width: 100%;"><span class="selection"><span
                                            class="select2-selection select2-selection--single" role="combobox"
                                            aria-haspopup="true" aria-expanded="false" tabindex="0"
                                            aria-labelledby="select2-id_uyrukid-container"><span
                                            class="select2-selection__rendered" id="select2-id_uyrukid-container"
                                            title="---------">---------</span><span class="select2-selection__arrow"
                                                                                    role="presentation"><b
                                            role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                                                                                               aria-hidden="true"></span></span>
                                    </div>

                                    <div class="form-group">
                                        <label> Population Family Serial Number</label>
                                        <input type="text" name="nufus_ailesirano" class="form-control"
                                               onkeypress="validate(event)" maxlength="20" id="id_nufus_ailesirano">
                                    </div>
                                    <div class="form-group">
                                        <label> Population Volume Number</label>
                                        <input type="text" name="nufus_ciltno" class="form-control "
                                               onkeypress="validate(event)" maxlength="20" id="id_nufus_ciltno">
                                    </div>

                                    <div class="form-group">
                                        <label> Population Sequence No</label>
                                        <input type="text" name="nufus_sirano" class="form-control"
                                               onkeypress="validate(event)" maxlength="20" id="id_nufus_sirano">
                                    </div>


                                    <div class="box-footer">
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.box-body -->
                    </div>


                </div>
                <div class="col-lg-12">

                    <div class="box box-info collapsed-box">


                        <div class="box-header with-border">
                            <h3 class="box-title">Official Information</h3>

                            <div class="box-tools pull-right">
                                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                        class="fa fa-plus"></i>
                                </button>

                            </div>


                            <!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body" style="display: none;">


                            <div class="row">
                                <div class="col-lg-6">

                                    <div class="form-group">
                                        <label> Mobile Phone</label>
                                        <input type="text" name="phoneNumber" value="5418619461" class="form-control "
                                               onkeypress="validate(event)" maxlength="120" id="id_phoneNumber">
                                    </div>
                                    <div class="form-group">
                                        <label> Land Phone</label>
                                        <input type="text" name="phoneNumber2" class="form-control "
                                               onkeypress="validate(event)" maxlength="120" id="id_phoneNumber2">
                                    </div>

                                    <div class="form-group">
                                        <label> Home Phone</label>
                                        <input type="text" name="phoneHome" class="form-control "
                                               onkeypress="validate(event)" maxlength="120" id="id_phoneHome">
                                    </div>
                                    <div class="form-group">
                                        <label> Business Phone</label>
                                        <input type="text" name="phoneJop" class="form-control "
                                               onkeypress="validate(event)" maxlength="120" id="id_phoneJop">
                                    </div>

                                </div>


                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label> Address</label>
                                        <textarea name="address" cols="40" rows="2" class="form-control "
                                                  style="text-transform:uppercase" id="id_address"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label> Home Address</label>
                                        <textarea name="addressHome" cols="40" rows="2" class="form-control "
                                                  style="text-transform:uppercase" id="id_addressHome"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label> Business Address</label>
                                        <textarea name="addressJop" cols="40" rows="2" class="form-control "
                                                  style="text-transform:uppercase" id="id_addressJop"></textarea>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <!-- /.box-body -->
                    </div>


                </div>


            </div>

        </div>


    </section>














    <script>

        $(function () {
            debugger;
            $('#sporcular').DataTable({

                
                'paging': true,
                'searching': true,
                'ordering': true,
                'responsive': true,
                'autoWidth': true,
                "serverSide": true,
                "processing": true,
                'ajax': {

                    "url": '{% url "wushu:taolu-sporcu-sec-ajax"%}',
                    "methot": 'POST',
                    "data": {

                        "competition":{{ competition.pk }},

                    },


                },


                'columns':
                    [
                        {'data': 'say'},
                        {'data': 'name'},


                        {
                            "data": null,
                            "bSortable": false,
                            "mRender": function (data) {
                                {#console.log(data);#}


                                return '<div class="btn-group"><a type="button" class="btn btn-warning" onclick="sporcusec(' + data.pk + ')"><i class="fa fa-edit"></i>' + 'Seç' + '</a></div>';
                            }
                        },


                    ],
                dom: 'Bfrtip',


                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 row', '25 row ', '50 row ', '100 row', 'Show All']
                ],

                'buttons': [


                    {#'copy',#}
                    {#'csv',#}

                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        text: '<i class=" fa  fa-th-list"></i>',
                        titleAttr: 'Add Subtract'


                    },
                    {
                        extend: 'print',
                        title: 'Sporcular',
                        text: '<i class="fa  fa-print"></i>',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                        titleAttr: 'Print'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                        titleAttr: 'Save Pdf'
                    },

                    {
                        extend: 'excelHtml5',
                        title: 'Sporcular',
                        text: '<i class="fa fa-file-excel-o"></i>',
                        messageTop: 'Twf Bilgi Sistemi ',
                        footer: true,
                        exportOptions: {
                            {#yer degisimi de yapilabilir.#}
                            columns: [0, 2, 1, 3, 4, 5]

                        },
                        titleAttr: 'Excel Save'
                    },
                    {
                        text: '<i class="fa fa-file-text-o"></i>',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'Sporcular.json'
                            );
                        }
                    }
                ],


            });


        });

        function sporcusec(id) {
            $("#modalsporcu").on("shown.bs.modal", function (e) {

                $("#btn-gonder").click(function () {

                    if (e.handled !== true) {
                        e.handled = true;


                        if (id != null && $('#taolucategory').val() && $('#taolucategoryyears').val() != 'Seçiniz...') {


                            category = $('#taolucategory').val();
                            years = $('#taolucategoryyears').val();
                            debugger;

                            $.ajax({
                                url: "{% url "wushu:taolu-sporcu-kaydet" %}",
                                type: "POST",
                                data: {
                                    'csrfmiddlewaretoken': "{{  csrf_token  }}",
                                    category: category,
                                    competition: {{ competition.pk }},
                                    athlete: id,
                                    years: years,
                                },

                                success: function (result) {

                                    if (result.status == "Success") {

                                        html = 'Athlete Successfully Added .';
                                        debugger;
                                        $(".successModal").html(html);
                                        alert('Successfully Added')
                                        window.location.replace("{% url "wushu:musabaka-taolu-ekle" competition.pk %}");


                                    } else {

                                        $('#modal-warning').on("shown.bs.modal", function (e) {
                                            $(".btn-ok").click(function () {


                                                $('#modal-warning').modal('hide');
                                                $('.modal').modal('hide');
                                            });

                                        }).modal('show');


                                    }


                                }
                            });
                        } else {

                            alert("Please enter the missing fields");

                        }


                    }
                });


            }).modal('show');
            $('#btn-closereddet').click(function () {


                $('#modalsporcu').modal('hide');
                $('.modal').modal('hide');

            });

        }

    </script>

{% endblock %}

