{% extends 'base_layout.html' %}
{% block content %}

    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Error!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-check"></i> Successful!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}


    <section class="content-header">
        <h1>
            Update Athlete

        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Update Athlete</a></li>

        </ol>
    </section>
    <section class="content">

        <form method="post" enctype="multipart/form-data" role="form">
            {% csrf_token %}
            <div class="row">

                <div class="col-lg-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">General Information</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label> {{ person_form.name.label }}</label>
                                        {{ person_form.name }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label> {{ person_form.surName.label }}</label>
                                        {{ person_form.surName }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label> {{ person_form.birthDate.label }}</label>
                                        {{ person_form.birthDate }}
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label> {{ person_form.pasaport.label }}</label>
                                        {{ person_form.pasaport }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label> {{ person_form.gender.label }}</label>
                                        {{ person_form.gender }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label> {{ person_form.country.label }}</label>
                                        {{ person_form.country }}
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    {% if user.groups.all.0.name == "Admin" %}
                                        <div class="form-group">
                                            <label> {{ athlete_federation_form.federation.label }} </label>
                                            {{ athlete_federation_form.federation }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                      <label> {{ person_form.profileImage.label }}</label>

                                        <center>
                                            <img
                                                    src="/media/{{ person_form.instance.profileImage }}"
                                                    class="img-responsive img-bordered" alt="Resim Yok"
                                                    style=" width:100px; height: 100px;"

                                            ><br>
                                        </center>

                                        {{ person_form.profileImage }}

                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> {{ person_form.pasaportImage.label }}</label>

                                        <center>
                                            <img
                                                    src="/media/{{ person_form.instance.pasaportImage }}"
                                                    class="img-responsive img-bordered" alt="Resim Yok"
                                                    style=" width:100px; height: 120px;"

                                            ><br>
                                        </center>

                                        {{ person_form.pasaportImage }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> {{ athlete_form.ekg.label }}</label>
                                        {{ athlete_form.ekg }}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label> {{ athlete_form.eeg.label }}</label>
                                        {{ athlete_form.eeg }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="box-footer">
                    <button class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>

        </form>


    </section>
    <script>
        function previewImage() {
            var file = document.getElementById("id_profileImage").files;
            if (file.length > 0) {
                var fileReader = new FileReader();
                fileReader.onload = function (event) {
                    document.getElementById("preview").setAttribute("src", event.target.result);
                }
                fileReader.readAsDataURL(file[0]);
            }
        }
        function previewImage2() {
            var file = document.getElementById("id_lisansPhoto").files;
            if (file.length > 0) {
                var fileReader = new FileReader();
                fileReader.onload = function (event) {
                    document.getElementById("preview2").setAttribute("src", event.target.result);
                }
                fileReader.readAsDataURL(file[0]);
            }
        }
    </script>
{% endblock %}



