{% extends 'base_layout.html' %}
{% load static %}
{% block content %}




    <!-- success modal -->
    <div class="modal modal-success modal-success-food fade in" id="modal-success" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Transaction Successful</h4>
                </div>
                <div class="modal-body successModal">
                    ...
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-outline btn-ok">Ok</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal modal-danger fade in deneme22" tabindex="-1" role="dialog" id="modal-danger"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">Warning</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left btn-ok" id="btn-conf"
                            data-dismiss="modal">Yes
                    </button>
                    <button type="button" class="btn btn-outline" id="btn-close">No</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>



    {% if messages %}
        {% for message in messages %}


            {% if message.tags == 'warning' %}

                <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Error!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}


            {% if message.tags == 'success' %}

                <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <h4><i class="icon fa fa-ban"></i> Successful!</h4>


                    <ul class="messages">
                        {% for message in messages %}
                            <li class="{{ message.tags }}">{{ message }}</li>
                        {% endfor %}
                    </ul>


                </div>

            {% endif %}
        {% endfor %}


    {% endif %}






    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">


            <div class="modal-content" style="height:fit-content">

                <div class="modal-header" style="background-color:#3c8dbc ">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body bodys">
                    ...
                </div>
            </div>
        </div>
    </div>





    <section class="content">
        <form method="post" enctype="multipart/form-data" role="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">General Information</h3>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-4">


                                    <div class="form-group">
                                        <label> {{ person_form.name.label }}</label>
                                        {{ person_form.name }}
                                    </div>

                                    <div class="form-group">
                                        <label> {{ person_form.surName.label }}</label>
                                        {{ person_form.surName }}
                                    </div>

                                    <div class="form-group">
                                        <label> {{ person_form.birthDate.label }}</label>
                                        {{ person_form.birthDate }}
                                    </div>
                                    {% if user.groups.all.0.name == "Admin" %}
                                        <div class="form-group">
                                            <label> {{ athlete_federation_form.federation.label }} </label>
                                            {{ athlete_federation_form.federation }}
                                        </div>
                                    {% endif %}

                                </div>

                                <div class="col-lg-4">

                                    <div class="form-group">
                                        <label> {{ person_form.pasaport.label }}</label>
                                        {{ person_form.pasaport }}
                                    </div>

                                    <div class="form-group">
                                        <label> {{ person_form.gender.label }}</label>
                                        {{ person_form.gender }}
                                    </div>
                                    <div class="form-group">
                                        <label> {{ person_form.country.label }}</label>
                                        {{ person_form.country }}
                                    </div>
                                    <div class="form-group">
                                        <label> {{ athlete_form.eeg.label }}</label>
                                        {{ athlete_form.eeg }}
                                    </div>
                                    <div class="form-group">
                                        <label> {{ athlete_form.ekg.label }}</label>
                                        {{ athlete_form.ekg }}
                                    </div>


                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">

                                        <center>

                                            <label> {{ person_form.profileImage.label }}</label>


                                            <img src="{% static 'images/user.png' %} " id="preview"
                                                 class="img-responsive img-rounded"
                                                 style=" height: 125px;width: 130px;">

                                            <p>

                                                <input type="file" name="profileImage" accept="image/*"
                                                       id="id_profileImage" name=""
                                                       onchange="previewImage()">

                                        </center>
                                        {{ person_form.profileImage }}
                                    </div>
                                    <div class="form-group">


                                        <center>
                                            <label> {{ person_form.pasaportImage.label }}</label>
                                            {% load static %}
                                            <img src="{% static 'images/photo.png' %}" id="preview2"
                                                 class="img-responsive img-rounded "
                                                 style="height: 125px;width: 100px;">
                                            <p>
                                                <input accept="image/*" type="file" class="form-group"
                                                       name="" required="" id="id_lisansPhoto"
                                                       onchange="previewImage2()">

                                            </p>
                                        </center>
                                        {{ person_form.pasaportImage }}
                                    </div>

                                </div>


                            </div>

                        </div>
                        <div class="box-footer">
                            <button class="btn btn-primary" type="submit">Save</button>
                        </div>
                    </div>


                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-lg-12 ">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Athletes</h3>
                    </div>
{#                    <div class="box-header with-border">#}
{#                        <div class="btn-group">#}
{#                            <a href="{% url "wushu:sporcu-ekle" %}"#}
{#                               type="button" class="btn btn-success"><i#}
{#                                    class="fa fa-edit"></i> Add New Athlete#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
                    <div class="box-body">
                        <table id="sporcular" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Name </th>
                                <th>Transactions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if athletes.all %}
                                {% for athlete in athletes %}
                                    <tr>
                                        <td>{{ forloop.counter }} </td>
                                        <td>{{ athlete.person.name }} {{ athlete.person.surName }} </td>
                                        <td>
                                            <div class="btn-group">
                                                <a href="{% url "wushu:update-athletes" athlete.pk %}"
                                                   type="button" class="btn btn-warning"><i
                                                        class="fa fa-edit"></i>Update
                                                </a>
                                                {% if user.groups.all.0.name == "Admin" %}
                                                    <a class="btn btn-danger"
                                                       data-toggle="modal" onclick=deleteAthlete({{ athlete.pk }})><i
                                                            class="fa fa-trash"></i> Delete
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </td>

                                    </tr>

                                {% endfor %}
                            {% endif %}


                            </tbody>
                        </table>

                    </div>
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- /.row (main row) -->

    </section>
    <script>
        function previewImage() {
            var file = document.getElementById("id_profileImage").files;
            if (file.length > 0) {
                var fileReader = new FileReader();
                fileReader.onload = function (event) {
                    document.getElementById("preview").setAttribute("src", event.target.result);
                }
                fileReader.readAsDataURL(file[0]);
            }
        }

        function previewImage2() {
            var file = document.getElementById("id_lisansPhoto").files;
            if (file.length > 0) {
                var fileReader = new FileReader();
                fileReader.onload = function (event) {
                    document.getElementById("preview2").setAttribute("src", event.target.result);
                }
                fileReader.readAsDataURL(file[0]);
            }
        }
    </script>
    <script>
        $(function () {
            $('#sporcular').DataTable({


                dom: 'Bfrtip',


                lengthMenu: [
                    [10, 25, 50, 100, -1],
                    ['10 row', '25 row ', '50 row ', '100 row', 'Show All']
                ],

                'buttons': [
                    {##}
                    {##}
                    {#'copy',#}
                    {#'csv',#}

                    {
                        extend: "pageLength",
                    },


                    {
                        extend: 'colvis',
                        text: '<i class=" fa  fa-th-list"></i>',
                        titleAttr: 'Add Subtract'


                    },
                    {
                        extend: 'print',
                        title: 'Sporcular',
                        text: '<i class="fa  fa-print"></i>',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                        titleAttr: 'Print'
                    },
                    {
                        extend: 'pdfHtml5',
                        download: 'open',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5]
                        },
                        titleAttr: 'Save Pdf'
                    },

                    {
                        extend: 'excelHtml5',
                        title: 'Sporcular',
                        text: '<i class="fa fa-file-excel-o"></i>',
                        messageTop: 'Twf Bilgi Sistemi ',
                        {#footer: true,#}
                        exportOptions: {
                            {#     yer degisimi de yapilabilir.#}
                            columns: [0, 2, 1, 3, 4, 5]

                        },
                        titleAttr: 'Excel Save'
                    },
                    {
                        text: '<i class="fa fa-file-text-o"></i>',
                        action: function (e, dt, button, config) {
                            var data = dt.buttons.exportData();

                            $.fn.dataTable.fileSave(
                                new Blob([JSON.stringify(data)]),
                                'Sporcular.json'
                            );
                        }
                    }


                ],

                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': true,
                'responsive': true,


            });

        });


    </script>

    <script>
        function deleteAthlete(id) {

            console.log(id);
            var html = ''
            $("#modal-danger").on("shown.bs.modal", function (e) {
                $("#btn-conf").click(function () {
                    $.ajax({
                        url: "{% url "wushu:delete-athlete" pk=212121223232323232 %}".replace(/212121223232323232/, id.toString()),
                        type: "POST",
                        data: {
                            'csrfmiddlewaretoken': "{{  csrf_token  }}",
                            isActive: 'False'
                        },
                        success: function (result) {

                            html = 'Athlete Successfully Deleted';
                            debugger;
                            $(".successModal").html(html);
                            $('#modal-success').on("shown.bs.modal", function (e) {
                                $(".btn-ok").click(function () {

                                    window.location.replace("{% url "wushu:sporcular" %}");

                                });

                            }).modal('show');


                            console.log(result.status)
                        }
                    });
                });
            }).modal('show');
            $('#btn-close').click(function () {
                $('#modal-danger').modal('hide');
            });

        }
    </script>

{% endblock %}

